:root {
    --hot-pink: #ff00c5;
    --neon-blue: #00a2cd;
    --plum: #7f35b2;
    --dark-blue: #002142;
}

body {
    display: flex;
    justify-content: center;
    align-items:center;

    font-family: sans-serif;
    color: white;
}
h1, h2, h3 {
    font-weight: 300;
}

#quiz-container {
    background: linear-gradient(to top right, var(--dark-blue) 10%, var(--plum) 80%);

    display: flex;
    align-items:center;
    align-content: stretch;
    justify-content: center;

    padding: 40px;
    width: 60%;
    max-width: 600px;
    min-width: 400px;

    /* height: 70%; */
    max-height: 700px;
    /* min-height: 500px; */

    border: solid black 1px;
    border-radius: 20px;

    flex-direction: column;

}

#quiz-inner-container {
    flex-direction: column;
    display: flex;
    /* align-self: stretch;
    justify-self: stretch; */

    justify-content: space-between;
    background-color: yellow;
    /* width: 70%; */
}

#title-section {
    display: flex;
    flex-direction: row;
    text-align: center;

    margin-bottom: 30px;
}

#title-text {
    text-align: left;
    margin-left: 20px;
    margin-top: 0;
}

#title-text h1 {
    color: var(--hot-pink);
}

#title-text h2 {
    margin-bottom: 15px;
}

#question-body-section {
    /* background-color: red; */
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    width: 90%;
    margin-bottom: 10px;
}





#logo {
    display: flex;
    align-items: flex-end;

}

#logo img {
    height: 90px;
}

hr {
    border: .5px solid var(--dark-blue);
    width: 100%;
}

.name-form-div {
    margin-bottom: 25px;
}
